/* Global css */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}


.header {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0 10%;
  justify-content: center;
  align-items: center;
  background: #070100;
  padding: 23px 0px;
  border-top: #cf2323 solid 5px;
  border-bottom: #cf2323 solid 5px;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  color: #000;
  background-color: #f7f7f7;
  min-width: 350px;
  position: relative;
}

#input-form {
  position: relative;
  width: 800px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  background: #3e4443;
  box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
}

.btn {
  font-size: 16px;
  border: #fff solid 1px;
  padding: 10px 50px;
  background-color: #fff;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  color: #f70e0e;
  background: #000;
  border: #000 solid 1px;
  color: #fff;
  margin: 0 auto;
  display: block;
}

.btn:hover {
  background-color: #f70e0e;
  border: #f70e0e solid 1px;
  color: #fff;
}



.container {
  padding: 38px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}
.row {
  padding: 2px;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  text-align: center;

}
/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* li {
  display: inline;
  color: #f1eeeea1;
  font-size: 12px;
  line-height: 15px;
  padding: 15px;

} */

/* Td */
.image {
  /* width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  padding: 2px;
  border: 1px solid rgb(147, 145, 145);
  display: flex;
  margin: auto; */
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 120px;
  border-radius: 12px;
  border: 2px solid #f70e0e
}

.form{

    border: #b1b0b0 solid 1px;
    padding: 12px 19px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #000;
    width: 100%;

}
.before {
  margin-right: 10px;
}

.after {
  margin-left: 10px;
}

